<hr>
<form action="/send-email" method="POST">
  <label for="question">Câu hỏi:</label>
  <input type="text" id="question" name="question" required>

  <label for="infor">Thông tin liên hệ:</label>
  <input type="text" id="infor" name="infor" required>

  <button type="submit">Gửi</button>
</form>